# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# no Resharper files
_ReSharper.QuotesEngine

# mstest test results
TestResults

# no .pdb files
*.pdb
       
# no .suo or .user files - VS user preference configs, specific to your machine
*.suo
*.user

*.StyleCop
